<nav class='primary'>
  <ul>
    <li><a href="/dashboard" class="current">Dashboard</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Dues</a></li>
    <li><a href="#">Expenses</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="logout">Logout</a></li>
  </ul>
</nav>